<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meninas Digitais</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/stylecel.css">
</head>
<body>
    <div class="menu">
        <a><img src="images/logomeninasdigitais.png" class="Menu_imagem_retangular"> </a>
        <a class="menu_opcao">.</a>
        <a class="menu_opcao" href="/sobre">|Sobre|</a>
        <a class="menu_opcao" href="/contato">|Cadastro|</a>
        <a class="menu_opcao" href="/contato">|Contato|</a>
    </div>


    {{{body}}}

    <div class="Footer">
    <div class="Footer_nossasRedes">
        <p class="p_Footer_nossasRedes">Nossas redes</p>
        <div class="Footer_button">
            <a href="https://www.instagram.com/meninasdigitaisba/"><button class="Footer_btn"><img src="images/imginstagram.png" alt="" class="logoredesociais"></button></a>
            <a href="https://web.facebook.com/meninasdigitaisba/"><button class="Footer_btn"><img src="images/imgfacebook.png" alt="" class="logoredesociais"></button></a>
            <a href="https://www.linkedin.com/company/meninas-digitais-ufba/about/"><button class="Footer_btn"><img src="images/imglinkedin.png" alt="" class="logoredesociais"></button></a>
        </div>
    </div>
    <a>.</a>
    <div class="Footer_nomeEemail">
        <p class="Footer_MeninasDigitais">Meninas Digitais - Regional Bahia</p>
        <p class="Footer_MeninasDigitais">meninasdigitaisba@gmail.com</p>
    </div>
</div>
</body>
</html>