<form action="/addPost" method="POST">
    <p>Imagem: </p>
    <input type="image" name="imagem">
    <p>Título: </p>
    <input type="text" name="titulo">
    <p>Conteúdo:</p>
    <textarea  name="conteudo"></textarea>
    <button type="submit"> Cadastrar postagem</button>
</form>