<h1>Cadastro de Usuárias</h1>
<form action="/addUser" method="POST">
    <p>Nome: </p>
    <input type="text" name="nome">
    <p>Email:</p>
    <input type="email" name="email">
    <p>Senha:</p>
    <input type="password" name="senha">
    <button type="submit"> Cadastrar Usuária</button>
</form>

<h1>Contato</h1>
<form action="/addContato" method="POST">
    <p>Nome: </p>
    <input type="text" name="nome">
    <p>Email:</p>
    <input type="email" name="email">
    <p>Telefone:</p>
    <input type="tel" name="telefone">
    <p>Mensagem:</p>
    <textarea  name="mensagem"></textarea>
    <button type="submit"> Cadastrar postagem</button>
</form>