
    <div class="container">
        <div class = "Nossa_História">
            <div class="NossaHistoria_textoEImg">
                <h1 class="h1_NossaHistoria">Nossa História</h1>
                <p class="NossaHistoria_texto"> O projeto Meninas Digitais – Regional Bahia é um dos pólos do Programa nacional chancelado pela Sociedade Brasileira de Computação (SBC), o Programa Meninas Digitais. A Regional Bahia nasceu em meados de 2016 e tem como principais objetivos aumentar a visibilidade dos problemas relacionados ao gênero e Tecnologia da Informação (TI), fomentar a participação e inclusão de mais mulheres na tecnologia, aglutinar iniciativas do estado que fomentem a participação feminina na TI e atuar como projeto norteador para criação de novas iniciativas parceiras do Meninas Digitais – Regional Bahia, principalmente no interior do estado. O projeto também tem como foco a inclusão de meninas e mulheres negras e/ou oriundas da rede de ensino público como forma de oportunizar para essas minorias o contato com a ciência e tecnologia.
                </p>
                <img src="images/meninasnatecnologia.jpg" class="NossaHistoria_imagem_retangular">
                <img src="images/meninasnatecnologia.jpg" class="NossaHistoria_imagem_retangular">
            </div>
            <div class="NossaHistoria_imagemredonda">
                <img src="images/logomeninasdigitais.png" class="NossaHistoria_imgredonda">
            </div>
        </div>
        <div class="SobreNos">
            <div class="SobreNos_imagem">
                <img src="images/meninasnatecnologia.jpg" class="SobreNos_imagem_retangular">
                <img src="images/meninasnatecnologia.jpg" class="SobreNos_imagem_retangular">
            </div>
            <div class="SobreNos_subtitulo">
                <h4 class="h4_sobrenos">Somos parte do programa nacional Meninas Digitais da SBC, que visa fomentar e valorizar a presença feminina na computação.</h4>
            </div>
            <div class="SobreNos_button">
                <button class="SobreNos_btn">Sobre Nós</button>
            </div>
            <br><br>
        </div>
        <div class="Participe">
                <img src="images/imagemmeninasdigitais.jpeg" class="Participe_imagem_retangular">
                <br>
                <h1 class="Title_Particite">Participe do Time</h1>
                <p class="Paragrafo_Particite"> Benefícios das parcerias: Chancela da Sociedade Brasileira de Computação como parceiro do Programa Meninas Digitais; Documentos de Cadastro do Projeto como parceiro; Página para o projeto no site do Programa; Acesso para postagem nas redes sociais do Programa; Publicação de eventos do projeto em agenda nacional do Programa; Recebimento de materiais exclusivos para os parceiros;
                    
                </p>
                <br>
                <button class="btn_Particite">Participe</button>
        </div>
        <div class="Numeros">
            <div class="Numeros_div">
                <div class="Numeros_botao">
                    <div class="div_btn_Numero"><button class="btn_Numero">X</button><p>Membras</p><p>42</p> </div>
                    <div class="div_btn_Numero"><button class="btn_Numero">X</button><p>Parceiras</p><p>14</p> </div>
                    <div class="div_btn_Numero" ><button class="btn_Numero">X</button><p>Eventos</p><p>3000</p> </div>
                    <p class="p_Numero"><a href="">Veja mais</a></p>
                </div> 
            </div>
        </div>
        <hr>
    </div>
