<h1>Lista de Posts: </h1>

{{#each posts}}

<h2>{{dataValues.titulo}}</h2> 
<p>{{dataValues.conteudo}}</p>
<a href="/deletar/{{dataValues.id}}"><button>Deletar</button></a> <br>
<small> {{dataValues.createdAt}}</small>
<hr>

{{/each}}